@import "../../../styles/variables";
@import "../../../styles/mixins";

.calendarContainer {
  position: relative;

  background-color: $primary-color;

  .week {
    height: calc(100vh / 7);
  }
  .currentMonth {
    position: absolute;
    top: 1rem;
    left: 1rem;

    color: $secondary-color;
    font-size: 2rem;
    font-weight: bold;

    padding: 0 .5rem;
    background-color: $gray;
    border-radius: 1rem;

    pointer-events: none;
  }
}
