.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.new-btn {
  position: absolute;
  right: 1rem;
  bottom: 4rem;

  color: white;
  background-color: black;

  border-radius: 50%;

  height: 3rem;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}
