.tasks-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  animation: list-grow 500ms forwards;
}


@keyframes list-grow {
  from {
    transform: translateY(-50%) scaleY(0%);
  }
}