@import "../../../styles/variables";
@import "../../../styles/mixins";

.tasks-list {
  margin-bottom: 4rem;
  padding: 0;
  opacity: 0;

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  animation: grow-from-top 500ms forwards;

  &::-webkit-scrollbar {
    display: none;
  }
  @include for-desktop-up {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 12rem);
    margin-bottom: -3rem;
    overflow-x: scroll;
  }
}
