.tasks-list {
  margin-bottom: 4rem;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  animation: grow-from-top 500ms forwards;
}
