@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/themes";

.navbar {
  padding: 1rem;

  width: 100%;

  height: $header-h;
  box-shadow: $default-shadow;

  z-index: 10;

  transition: background-color 500ms;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &Section {
    overflow: auto;

    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .title {
    font-weight: bold;
    color: inherit;
  }
}
