@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/themes";

.navbar {
  padding: 1rem;

  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: $header-h;
  box-shadow: $default-shadow;

  z-index: 10;

  transition: background-color 500ms;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &Section {
    overflow: auto;

    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 1rem;

    &Left {
      justify-content: flex-start;
    }

    &Center {
      justify-content: center;
    }

    &Right {
      justify-content: flex-end;
    }
  }

  .title {
    font-weight: bold;
    color: inherit;
  }
}
