@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/themes";

.navbar {
  padding: 1rem;

  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: $header-h;
  box-shadow: $default-shadow;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  transition: background-color 500ms;

  .themeBtn {
    position: absolute;
    left: 1rem;
  }

  &Item {
    font-weight: bold;
    color: inherit;
  }

  .accountActions {
    color: inherit;
    position: absolute;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
      color: inherit;
    }
  }
}
