@import "../../../../styles/variables";

.task-item {
  width: 100%;
  min-height: 3rem;

  padding: 1rem;

  position: relative;

  border: 1px solid $secondary-color;
  border-radius: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__team {
    height: 1rem;
    width: 1rem;

    position: absolute;

    right: 1rem;
  }

  &__title {
    &--expired {
      color: $red;
    }
  }
}
