@import "../../../../index";

.task-item {
  width: 100%;
  min-height: 3rem;

  padding: 1rem;

  position: relative;

  border: 1px solid $secondary-color;
  border-radius: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include for-desktop-up {
    justify-content: flex-start;
    align-items: flex-start;
    width: 20rem;
    height: 30%;
  }

  &__team {
    height: 1rem;
    width: 1rem;

    position: absolute;

    right: 1rem;
  }

  &__title {
    &--expired {
      color: $red;
    }
  }
}
