@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.task-item {
  width: 100%;
  min-height: 3rem;

  padding: 1rem;

  position: relative;

  background-color: grey;
  border-radius: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include for-desktop-up {
    justify-content: space-between;
    align-items: flex-start;
    width: 20rem;
    height: 30%;
  }

  &__title {
    flex-shrink: 1;
    flex-grow: 1;
    color: $primary-color;
    font-weight: bold;
    &--expired {
      color: $red;
    }
  }

  &__date {
    flex-shrink: 0;
  }
}
