@import "../../../styles/variables";
@import "../../../styles/mixins";

.task-log {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 1rem;

  @include for-desktop-up {
    width: 50%;
  }

  &__form {
    margin-bottom: 0.25rem;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;

    .log-item {
      width: 100%;
      color: $secondary-color;
      &--self {
        text-align: right;
      }
      &--other {
        text-align: left;
      }
      button {
        background-color: $red;
        color: $secondary-color;
      }
    }
  }
}
