@import "../../../styles/variables";
@import "../../../styles/mixins";

.taskLog {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 1rem;

  @include for-desktop-up {
    width: 50%;
  }

  &Form {
    margin-bottom: 0.25rem;
  }
  &List {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
}
