@import "../../styles/variables";
@import "../../styles/mixins";

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 4rem;
  @include for-desktop-up {
    flex-direction: row;
    align-items: flex-start;
  }
}

.taskDetail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @include for-desktop-up {
    width: 50%;
  }

  &Title,
  &TitleInput {
    outline: none;
    width: 100%;

    border: 2px solid transparent;
    border-bottom: 1px solid $secondary-color;

    font-size: 2rem;
    font-weight: 700;

    border-radius: 0.25rem;

    font-family: inherit;
  }
  &TitleInput {
    border: 1.5px solid $red;
  }

  &Wwnership {
    color: $gray;
  }
  &__status {
    color: $gray;
  }

  &Deadline,
  &DeadlineInput {
    outline: none;

    margin-top: 1rem;
    border: 2px solid transparent;

    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  &DeadlineInput {
    border: 1px solid $red;
  }

  &Description,
  &DescriptionInput {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 6rem;
    overflow-y: auto;

    border: 1px solid $secondary-color;
    border-radius: 0.5rem;

    font-size: inherit;
    font-family: inherit;
  }

  &DescriptionInput {
    outline: none;
    border: 1.5px solid $red;
  }

  &Handler {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      color: $secondary-color;
      background-color: $red;
    }
  }
}

.expired {
  color: $red;
}
