@import "../../styles/variables";
@import "../../styles/mixins";

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 4rem;
  @include for-desktop-up {
    flex-direction: row;
    align-items: flex-start;
  }
}

.task-detail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @include for-desktop-up{
    width: 50%;
  }

  &__title,
  &__title-input {
    outline: none;
    width: 100%;
    border: 2px solid transparent;
    border-bottom: 1px solid $secondary-color;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.25rem;
  }
  &__title-input {
    border: 1.5px solid $red;
  }

  &__ownership {
    color: grey;
  }
  &__status {
    color: grey;
  }

  &__deadline,
  &__deadline-input {
    outline: none;
    color: grey;
    margin-top: 1rem;
    border: 2px solid transparent;

    &--expired {
      color: $red;
    }
  }
  &__deadline-input {
    border: 1px solid $red;
  }

  &__description,
  &__description-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 6rem;
    overflow-y: auto;

    border: 1px solid $secondary-color;
    border-radius: 0.5rem;
  }

  &__description-input {
    outline: none;
    border: 1.5px solid $red;
  }

  &__handler {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      color: $secondary-color;
      background-color: $red;
    }
  }
}
