@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/themes";

.pageContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";

  transition: background-color 500ms;

  .header {
    grid-area: header;
  }
  .main {
    position: relative;
    grid-area: main;
    padding: 1rem;
    overflow: auto;
  }
  .footer {
    grid-area: footer;
  }
}
