@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/themes";

.pageContainer {
  padding: $main-container-padding;
  margin-top: 3rem;

  position: relative;

  min-height: calc(calc(100vh - #{$footer-h}) - #{$header-h});

  transition: background-color 500ms;

  @include for-desktop-up {
    max-height: 100vh;
  }
}
