@import "./styles/variables";
@import "./styles/mixins";

.page-container {
  padding: $main-container-padding;
  margin-top: 3rem;

  position: relative;

  min-height: calc(calc(100vh - #{$footer-h}) - #{$header-h});

  background-color: $primary-color;

  @include for-desktop-up {
    max-height: calc(calc(100vh - #{$footer-h}) - #{$header-h});
  }
}
